/* LOGIN STYLES */
.login-form {
  background-color: #f8f9fa;
  border-radius: 8px;
  border: 1px solid #ced4da;
  margin: 40px auto;
  max-width: 450px;
  padding: 30px;
}

.rememberme {
  color: #495057;
  font-size: 14px;
  margin-top: 15px;
  user-select: none;
}

.msg-new-account {
  color: #495057;
  font-size: 15px;
  text-align: center;
}